---
- name: Copy bundle script
  command: "cp /opt/ansible/library/es_ta_for_indexers.py /tmp/es_ta_for_indexers.py"
  register: copy_script
  changed_when: copy_script.rc == 0

- name: Modify bundle script permissions
  file:
    path: /tmp/es_ta_for_indexers.py
    owner: "{{ splunk.user }}"
    group: "{{ splunk.group }}"
    mode: 0777

- name: Get ESS version
  uri:
    url: "{{ cert_prefix }}://127.0.0.1:{{ splunk.svc_port }}/services/apps/local/SplunkEnterpriseSecuritySuite?output_mode=json"
    method: GET
    user: "{{ splunk.admin_user }}"
    password: "{{ splunk.password }}"
    force_basic_auth: yes
    validate_certs: false
    status_code: 200
    timeout: 10
    use_proxy: no
  register: ess_info
  no_log: "{{ hide_password }}"

- name: Execute bundle script
  command: "{{ splunk.exec }} cmd {% if ess_info.json.entry[0].content.version is version('6.1', '>=') %}python3{% else %}python{% endif %} /tmp/es_ta_for_indexers.py --password {{ splunk.password }} --username {{ splunk.admin_user }}"
  become: yes
  become_user: "{{ splunk.user }}"
  no_log: "{{ hide_password }}"
  register: ta_location
  changed_when: ta_location.rc == 0

- name: Unarchive bundle (Linux)
  unarchive:
    src: "{{ ta_location.stdout_lines[0] }}"
    dest: "{{ splunk.app_paths.idxc }}"
    owner: "{{ splunk.user }}"
    group: "{{ splunk.group }}"
    remote_src: yes
  when:
    - ta_location is success
    - ansible_system is match("Linux")

- name: Unarchive bundle (Windows)
  command: "tar -zxvf {{ ta_location.stdout_lines[0] | replace(backslash, '/') | replace('C:', '') }} -C {{ splunk.app_paths.idxc }} --force-local"
  args:
    warn: false
  vars:
    backslash: "\\"
  when:
    - ta_location is success
    - ansible_system is match("CYGWIN*|Win32NT")

- name: Remove ESS apps from installed apps list
  set_fact:
    installed_apps: "{{ installed_apps | difference(ess_apps) | unique }}"
