---
- include_tasks: ../../../roles/splunk_common/tasks/set_as_hec_receiver.yml

- include_tasks: ../../../roles/splunk_common/tasks/set_as_deployment_client.yml
  when:
    - splunk.deployment_server is defined
    - splunk.deployment_server

- name: Flush restart handlers
  meta: flush_handlers

- include_tasks: ../../splunk_common/tasks/add_splunk_object.yml
  when: splunk.add is defined

- include_tasks: ../../../roles/splunk_common/tasks/provision_apps.yml
  when: "'apps_location' in splunk and splunk.apps_location"
  vars:
    app_list: "{{ splunk.apps_location }}"

- include_tasks: ../../../roles/splunk_common/tasks/provision_apps.yml
  when:
    - "'app_paths_install' in splunk and 'default' in splunk.app_paths_install and splunk.app_paths_install.default"
  vars:
    app_list: "{{ splunk.app_paths_install.default }}"

# Execute other Splunk commands
- name: Execute Splunk commands
  command: "{{ splunk.exec }} {{ item }} -auth {{ splunk.admin_user }}:{{ splunk.password }}"
  become: yes
  become_user: "{{ splunk.user }}"
  with_items: "{{ splunk.cmd }}"
  register: task_result
  until: task_result.rc == 0 or "already exists" in task_result.stderr
  retries: "{{ retry_num }}"
  delay: "{{ retry_delay }}"
  when: splunk.cmd is defined
  no_log: "{{ hide_password }}"
  ignore_errors: true
  notify:
    - Restart the splunkd service

- include_tasks: ../../../roles/splunk_common/tasks/check_for_required_restarts.yml
