---
- name: Get ESS version
  uri:
    url: "{{ cert_prefix }}://127.0.0.1:{{ splunk.svc_port }}/services/apps/local/SplunkEnterpriseSecuritySuite?output_mode=json"
    method: GET
    user: "{{ splunk.admin_user }}"
    password: "{{ splunk.password }}"
    force_basic_auth: yes
    validate_certs: false
    status_code: 200
    timeout: 10
    use_proxy: no
  register: ess_info
  no_log: "{{ hide_password }}"

- name: Run ESS post-install setup
  command: "{{ splunk.exec }} search '| essinstall --ssl_enablement=ignore {% if splunk.role == 'splunk_deployer' %}--deployment_type shc_deployer{% endif %}' -auth {{ splunk.admin_user }}:{{ splunk.password }}"
  no_log: "{{ hide_password }}"
  become: yes
  become_user: "{{ splunk.user }}"
  register: essinstall
  changed_when: essinstall.rc == 0
  failed_when: essinstall.rc != 0
  notify:
    - Restart the splunkd service
