all:
  vars:
    ansible_user: root
  children:
    splunk_search_head:
      hosts:
        wrapper-example_search_head_1:
          ansible_port: 32768
          ansible_host: 0.0.0.0
    splunk_cluster_master:
      hosts:
        wrapper-example_cluster_master_1:
          ansible_port: 32772
          ansible_host: 0.0.0.0
    splunk_indexer:
      hosts:
        wrapper-example_indexer1_1:
          ansible_port: 32770
          ansible_host: 0.0.0.0
        wrapper-example_indexer2_1:
          ansible_port: 32769
          ansible_host: 0.0.0.0
        wrapper-example_indexer3_1:
          ansible_port: 32771
          ansible_host: 0.0.0.0
