---
- name: Check current license group
  uri:
    url: "{{ cert_prefix }}://127.0.0.1:{{ splunk.svc_port }}/services/licenser/groups/Forwarder?output_mode=json"
    method: GET
    user: "{{ splunk.admin_user }}"
    password: "{{ splunk.password }}"
    force_basic_auth: yes
    validate_certs: false
    status_code: 200,404
    timeout: 10
    use_proxy: no
  register: check_fwd_lic
  changed_when: false
  no_log: "{{ hide_password }}"

- name: Activate forwarder license
  uri:
    url: "{{ cert_prefix }}://127.0.0.1:{{ splunk.svc_port }}/services/licenser/groups/Forwarder?output_mode=json"
    method: POST
    user: "{{ splunk.admin_user }}"
    password: "{{ splunk.password }}"
    force_basic_auth: yes
    validate_certs: false
    body:
      is_active: 1
    body_format: "form-urlencoded"
    status_code: 200
    timeout: 10
    use_proxy: no
  when: not check_fwd_lic.json.entry[0].content.is_active
