---
dependency:
  name: galaxy
driver:
  name: docker
platforms:
  - name: splunk-standalone-debian10
    image: geerlingguy/docker-debian10-ansible:latest
    pre_build_image: true
    command: "/lib/systemd/systemd"
    volumes:
      - "/opt/splunk/var"
  - name: splunk-standalone-redhat8
    image: geerlingguy/docker-ubi8-ansible:latest
    pre_build_image: true
    command: "/lib/systemd/systemd"
    volumes:
      - "/opt/splunk/var"
provisioner:
  name: ansible
  inventory:
    hosts:
      all:
        vars:
          ansible_post_tasks: null
          ansible_pre_tasks: null
          cert_prefix: https
          dmc_asset_interval: 3,18,33,48 * * * *
          dmc_forwarder_monitoring: false
          hide_password: false
          java_download_url: null
          java_update_version: null
          java_version: null
          retry_delay: 6
          retry_num: 60
          shc_sync_retry_num: 60
          splunk:
            role: splunk_standalone
            license_uri: null
            preferred_captaincy: true
            build_location: https://download.splunk.com/products/splunk/releases/8.0.3/linux/splunk-8.0.3-a6754d8441bf-Linux-x86_64.tgz
            ignore_license: true
            apps_location: null
            admin_user: admin
            allow_upgrade: true
            app_paths:
              default: /opt/splunk/etc/apps
              deployment: /opt/splunk/etc/deployment-apps
              httpinput: /opt/splunk/etc/apps/splunk_httpinput
              idxc: /opt/splunk/etc/master-apps
              shc: /opt/splunk/etc/shcluster/apps
            asan: false
            build_url_bearer_token: null
            cluster_master_url: null
            conf:
            - key: user-prefs
              value:
                directory: /opt/splunk/etc/users/admin/user-prefs/local
                content:
                  general:
                    default_namespace: appboilerplate
                    search_syntax_highlighting: dark
                    search_assistant:
                  "serverClass:secrets:app:test": {}
            deployer_url: null
            dfs:
              dfc_num_slots: 4
              dfw_num_slots: 10
              dfw_num_slots_enabled: false
              enable: false
              port: 9000
              spark_master_host: 127.0.0.1
              spark_master_webui_port: 8080
            enable_service: false
            exec: /opt/splunk/bin/splunk
            group: splunk
            hec:
              cert: null
              enable: true
              password: null
              port: 8099
              ssl: false
              token: qwerty789
            home: /opt/splunk
            http_enableSSL: false
            http_enableSSL_cert: null
            http_enableSSL_privKey: null
            http_enableSSL_privKey_password: null
            http_port: 8080
            idxc:
              label: idxc_label
              pass4SymmKey: Bh/lsn+CsqvmkXBhE9GtoXOWYNVbpTUV
              replication_factor: 3
              replication_port: 9887
              search_factor: 3
              secret: Bh/lsn+CsqvmkXBhE9GtoXOWYNVbpTUV
            launch:
              OPTIMISTIC_ABOUT_FILE_LOCKING: 1
              TEST: A=B
            license_download_dest: /tmp/splunk.lic
            license_master_url: null
            multisite_master_port: 8089
            multisite_replication_factor_origin: 2
            multisite_replication_factor_total: 3
            multisite_search_factor_origin: 1
            multisite_search_factor_total: 3
            opt: /opt
            pass4SymmKey: null
            password: helloworld2
            pid: /opt/splunk/var/run/splunk/splunkd.pid
            root_endpoint: /splunkui
            s2s:
              ca: null
              cert: null
              enable: true
              password: null
              port: 9999
              ssl: false
            search_head_captain_url: null
            secret: "pewpewpew"
            service_name: null
            set_search_peers: true
            shc:
              label: shc_label
              pass4SymmKey: g7DcnxHIA60dj86HWrh38VdaFYdXESw2
              replication_factor: 3
              replication_port: 9887
              secret: g7DcnxHIA60dj86HWrh38VdaFYdXESw2
            smartstore: null
            svc_port: 8090
            tar_dir: splunk
            user: splunk
            wildcard_license: false
          splunk_home_ownership_enforcement: true
          wait_for_splunk_retry_num: 60
verifier:
  name: testinfra
  options:
    junit-xml: ../../../../tests/results/standalone-default-results.xml
