---
- name: Update Splunk directory owner
  file:
    path: "{{ splunk.home }}"
    owner: "{{ splunk.user }}"
    group: "{{ splunk.group }}"
    recurse: yes
  become: yes
  become_method: sudo
  become_user: root
