---
- name: Establish DMC forwarder monitor API
  set_fact:
    dmc_forwarder_assets_url: "{{ cert_prefix }}://127.0.0.1:{{ splunk.svc_port }}/servicesNS/nobody/splunk_monitoring_console/saved/searches/DMC+Forwarder+-+Build+Asset+Table"

- name: Retrieve forwarder assets query
  uri:
    url: "{{ dmc_forwarder_assets_url }}?output_mode=json"
    method: GET
    user: "{{ splunk.admin_user }}"
    password: "{{ splunk.password }}"
    force_basic_auth: yes
    validate_certs: false
    status_code: 200,201
    timeout: 10
    use_proxy: no
  register: dmc_forwarder_build_assets
  no_log: "{{ hide_password }}"

- name: Configure forwarder assets search
  uri:
    url: "{{ dmc_forwarder_assets_url }}"
    method: POST
    user: "{{ splunk.admin_user }}"
    password: "{{ splunk.password }}"
    force_basic_auth: yes
    body:
      search: "{{ dmc_forwarder_build_assets.json['entry'][0]['content']['search'] }}"
      request.ui_dispatch_app: splunk_monitoring_console
      cron_schedule: "{{ dmc_asset_interval }}"
      alert.track: 0
      disabled: 0
    body_format: "form-urlencoded"
    validate_certs: false
    status_code: 200,201
    timeout: 10
    use_proxy: no
  no_log: "{{ hide_password }}"

- name: Build forwarder assets
  uri:
    url: "{{ dmc_forwarder_assets_url }}/dispatch"
    method: POST
    user: "{{ splunk.admin_user }}"
    password: "{{ splunk.password }}"
    force_basic_auth: yes
    validate_certs: false
    status_code: 200,201
    use_proxy: no
  no_log: "{{ hide_password }}"
