- name: Install Splunk (Linux) from network
  unarchive:
    src: "{{ splunk.build_location }}"
    dest: "{{ splunk.opt }}"
    owner: "{{ splunk.user }}"
    group: "{{ splunk.group }}"
    remote_src: "{{ splunk.build_remote_src }}"
  when: splunk.build_remote_src
  register: install_result
  until: install_result is succeeded
  retries: "{{ retry_num }}"
  delay: 3
  become: yes
  become_user: "{{ privileged_user }}"

- name: Install Splunk (Linux) from local build
  unarchive:
    src: "{{ '/opt/container_artifact/' + splunk.build_location|basename }}"
    dest: "{{ splunk.opt }}"
    owner: "{{ splunk.user }}"
    group: "{{ splunk.group }}"
    remote_src: "{{ splunk.build_remote_src }}"
  when: not splunk.build_remote_src
  register: install_result
  until: install_result is succeeded
  retries: "{{ retry_num }}"
  delay: 3
  become: yes
  become_user: "{{ privileged_user }}"
