---
- name: Wait for the license master
  include_tasks: wait_for_splunk_instance.yml
  vars:
    splunk_instance_address: "{{ license_master_host }}"

- name: Set node as license slave
  command: "{{ splunk.exec }} edit licenser-localslave -master_uri {{ cert_prefix }}://{{ license_master_host }}:{{ splunk.svc_port }} -auth '{{ splunk.admin_user }}:{{ splunk.password }}'"
  become: yes
  become_user: "{{ splunk.user }}"
  register: linux_set_lic_slave
  until: linux_set_lic_slave.rc == 0
  changed_when: linux_set_lic_slave.rc == 0
  retries: "{{ retry_num }}"
  delay: 3
  notify:
    - Restart the splunkd service
  ignore_errors: yes
  no_log: "{{ hide_password }}"
