- name: Set general pass4SymmKey
  ini_file:
    dest: "{{ splunk.home }}/etc/system/local/server.conf"
    section: "general"
    option: "pass4SymmKey"
    value: "{{ splunk.pass4SymmKey }}"
    owner: "{{ splunk.user }}"
    group: "{{ splunk.group }}"
  register: set_symmkey
  no_log: "{{ hide_password }}"

- include_tasks: trigger_restart.yml
  when: set_symmkey is changed
