---
- name: "Start Splunk via cli"
  command: "{{ splunk.exec }} start --accept-license --answer-yes --no-prompt"
  become: yes
  become_user: "{{ splunk.user }}"
  register: start_splunk
  changed_when: start_splunk.rc == 0 and 'already running' not in start_splunk.stdout
  when: not splunk.enable_service

- name: "Start Splunk via service"
  service:
    name: splunk
    state: restarted
  when: splunk.enable_service and ansible_system is match("Linux")
  become: yes
  become_user: root

- name: "Start Splunk via Windows service"
  win_service:
    name: splunkd
    state: restarted
  when: splunk.enable_service and ansible_os_family == "Windows"

- name: "Wait for port 8089 to become open"
  wait_for:
    port: 8089
