---
- include_tasks: get_splunk_status.yml

- name: "Start Splunk"
  when: splunk_status.rc != 0
  block:
  - name: Cleanup Splunk runtime files
    file:
      state: absent
      path: "{{ item }}"
    with_items:
      - "{{ splunk.home }}/var/run/splunk/splunkd.pid"
      - "{{ splunk.home }}/var/lib/splunk/kvstore/mongo/mongod.lock"
    become: yes
    become_user: "{{ splunk.user }}"

  - name: "Restrict permissions on splunk.key"
    include_tasks: restrict_permissions.yml
    vars:
      file_path: "{{ item }}"
    with_items:
      - "{{ splunk.home }}/var/lib/splunk/kvstore/mongo/splunk.key"

  - name: "Start Splunk via CLI"
    command: "{{ splunk.exec }} start --accept-license --answer-yes --no-prompt"
    register: start_splunk
    changed_when: start_splunk.rc == 0 and 'already running' not in start_splunk.stdout
    when: not splunk.enable_service
    until: start_splunk.rc == 0
    retries: 5
    delay: 10
    become: yes
    become_user: "{{ splunk.user }}"

  - name: "Start Splunk via service"
    service:
      name: "{{ splunk_service_name }}"
      state: started
    become: yes
    become_user: "{{ privileged_user }}"
    when:
      - splunk.enable_service
      - ansible_system is match("Linux")

  - name: "Start Splunk via Windows service"
    win_service:
      name: splunkd
      state: started
    when:
      - splunk.enable_service
      - ansible_os_family == "Windows"

- name: "Wait for splunkd management port"
  wait_for:
    port: "{{ splunk.svc_port }}"

- name: Flush restart handlers
  meta: flush_handlers
