---
- name: Check Splunk instance is running
  uri:
    url: "{{ scheme | default(cert_prefix) }}://{{ splunk_instance_address }}:{{ port | default(splunk.svc_port) }}"
    method: GET
    validate_certs: false
    use_proxy: no
  register: task_response
  until:
    - task_response.status == 200
  retries: "{{ wait_for_splunk_retry_num }}"
  delay: "{{ retry_delay }}"
  ignore_errors: true
  no_log: "{{ hide_password }}"
