---
- name: dmc_asset_build_full - GET
  splunk_api:
    method: GET
    endpoint: "/servicesNS/nobody/splunk_monitoring_console/saved/searches/DMC%20Asset%20-%20Build%20Full?output_mode=json"
    username: "{{ splunk.admin_user }}"
    password: "{{ splunk.password }}"
    svc_port: "{{ splunk.svc_port }}"
    body_format: "form-urlencoded"
    status_code: [200]
    return_content: true
    use_proxy: no
  register: dmc_asset_build_full

- name: dmc_asset_build_full - POST
  splunk_api:
    method: POST
    endpoint: "/servicesNS/nobody/splunk_monitoring_console/saved/searches/DMC%20Asset%20-%20Build%20Full/dispatch"
    username: "{{ splunk.admin_user }}"
    password: "{{ splunk.password }}"
    svc_port: "{{ splunk.svc_port }}"
    body:
      trigger_actions: true
      dispatch.auto_cancel: "{{ dmc_asset_build_full.json['entry'][0]['content']['dispatch.auto_cancel'] }}"
      dispatch.buckets: "{{ dmc_asset_build_full.json['entry'][0]['content']['dispatch.buckets'] }}"
      dispatch.enablePreview: true
    body_format: "form-urlencoded"
    status_code: "200,201,409"

- name: UI - GET
  splunk_api:
    method: GET
    endpoint: "/servicesNS/nobody/splunk_monitoring_console/data/ui/nav/default.distributed?output_mode=json"
    username: "{{ splunk.admin_user }}"
    password: "{{ splunk.password }}"
    svc_port: "{{ splunk.svc_port }}"
    body_format: "form-urlencoded"
    status_code: [200]
    return_content: true
    use_proxy: no
  register: settings

- name: UI - POST
  splunk_api:
    method: POST
    endpoint: "/servicesNS/nobody/splunk_monitoring_console/data/ui/nav/default"
    username: "{{ splunk.admin_user }}"
    password: "{{ splunk.password }}"
    svc_port: "{{ splunk.svc_port }}"
    body:
      eai:data: "{{ settings.json['entry'][0]['content']['eai:data'] }}"
    body_format: "form-urlencoded"
    status_code: "200,201,409"

- name: DMC Conf - POST
  splunk_api:
    method: POST
    endpoint: "/servicesNS/nobody/splunk_monitoring_console/configs/conf-splunk_monitoring_console_assets/settings"
    username: "{{ splunk.admin_user }}"
    password: "{{ splunk.password }}"
    svc_port: "{{ splunk.svc_port }}"
    body:
      configuredPeers: "{{ configured_peers }}"
      disabled: "{{ settings.json['entry'][0]['content']['disabled'] }}"
      eai:acl: "{{ settings.json['entry'][0]['content']['eai:acl'] }}"
      eai:appName: "{{ settings.json['entry'][0]['content']['eai:appName'] }}"
      eai:userName: "{{ settings.json['entry'][0]['content']['eai:userName'] }}"
    body_format: "form-urlencoded"
    status_code: "200,201,409"

- name: DMC Settings - POST
  splunk_api:
    method: POST
    endpoint: "/servicesNS/nobody/system/apps/local/splunk_monitoring_console"
    username: "{{ splunk.admin_user }}"
    password: "{{ splunk.password }}"
    svc_port: "{{ splunk.svc_port }}"
    body: "author=Splunk&check_for_updates=1&configured=1&label=Monitoring+Console&version={{ settings.json['generator']['version'] }}&visible=1"
    body_format: "form"
    status_code: "200,201,409"
