---
- include_tasks: ../../../roles/splunk_monitor/tasks/adding_peers.yml

- include_tasks: ../../../roles/splunk_common/tasks/set_as_deployment_client.yml
  when:
    - splunk.deployment_server is defined
    - splunk.deployment_server
    - not splunk_search_head_cluster | bool

- include_tasks: ../../../roles/splunk_common/tasks/provision_apps.yml
  when:
    - "'apps_location' in splunk and splunk.apps_location"
    - splunk.deployment_server is not defined or not splunk.deployment_server
  vars:
    app_list: "{{ splunk.apps_location }}"

- include_tasks: ../../../roles/splunk_common/tasks/provision_apps.yml
  when:
    - "'app_paths_install' in splunk and 'default' in splunk.app_paths_install and splunk.app_paths_install.default"
  vars:
    app_list: "{{ splunk.app_paths_install.default }}"

- include_tasks: ../../splunk_common/tasks/peer_cluster_master.yml
  when:
    - splunk_indexer_cluster or splunk.multisite_master is defined
    - splunk.set_search_peers is defined
    - splunk.set_search_peers | bool

- include_tasks: setup_multisite.yml
  when:
    - splunk.site is defined
    - splunk.multisite_master is defined

- include_tasks: ../../splunk_common/tasks/enable_forwarder_monitoring.yml
  when:
    - dmc_forwarder_monitoring is defined
    - dmc_forwarder_monitoring | bool

- include_tasks: ../../../roles/splunk_common/tasks/check_for_required_restarts.yml
