---
- name: Create POST body
  set_fact:
    dmc_group_cluster_master: "{% if cluster_master_string | length > 0 %}member={{ cluster_master_string }}&default=false&name=dmc_group_cluster_master{% else %}default=false&name=dmc_group_cluster_master{% endif %}"
    dmc_group_indexer: "{% if index_string | length > 0 %}member={{ index_string }}&default=true&name=dmc_group_indexer{% else %}default=false&name=dmc_group_indexer{% endif %}"
    dmc_group_deployment_server: "{% if deployment_server_string | length > 0 %}member={{ deployment_server_string }}&default=true&name=dmc_group_deployment_server{% else %}default=false&name=dmc_group_deployment_server{% endif %}"
    dmc_group_kv_store: "default=false&name=dmc_group_kv_store"
    dmc_group_license_master: "{% if license_master_string | length > 0 %}member={{ license_master_string }}&default=false&name=dmc_group_license_master{% else %}default=false&name=dmc_group_license_master{% endif %}"
    dmc_group_search_head: "{% if search_head_string | length > 0 %}member={{ search_head_string }}&default=false&name=dmc_group_search_head{% else %}default=false&name=dmc_group_search_head{% endif %}"
    dmc_group_shc_deployer: "default=false&name=dmc_group_shc_deployer"

- name: POST Requests
  uri:
    url: "{{ cert_prefix }}://127.0.0.1:{{ splunk.svc_port }}/services/search/distributed/groups"
    method: POST
    user: "{{ splunk.admin_user }}"
    password: "{{ splunk.password }}"
    force_basic_auth: yes
    body: "{{ item }}"
    validate_certs: false
    status_code: 201,409
    use_proxy: no
  register: distributed_groups
  loop:
    - "{{ dmc_group_cluster_master }}"
    - "{{ dmc_group_indexer }}"
    - "{{ dmc_group_deployment_server }}"
    - "{{ dmc_group_kv_store }}"
    - "{{ dmc_group_license_master }}"
    - "{{ dmc_group_search_head }}"
    - "{{ dmc_group_shc_deployer }}"

- name: Edit DMC Group Requests
  uri:
    url: "{{ cert_prefix }}://127.0.0.1:{{ splunk.svc_port }}/services/search/distributed/groups/{{ item }}/edit"
    method: POST
    user: "{{ splunk.admin_user }}"
    password: "{{ splunk.password }}"
    force_basic_auth: yes
    body: "{{ item }}"
    validate_certs: false
    status_code: 201,409
    use_proxy: no
  loop:
    - "{{ dmc_group_cluster_master }}"
    - "{{ dmc_group_indexer }}"
    - "{{ dmc_group_deployment_server }}"
    - "{{ dmc_group_kv_store }}"
    - "{{ dmc_group_license_master }}"
    - "{{ dmc_group_search_head }}"
    - "{{ dmc_group_shc_deployer }}"
  when: distributed_groups.results[0].status == 409

- name: Cluster Label POST Requests
  uri:
    url: "{{ cert_prefix }}://127.0.0.1:{{ splunk.svc_port }}/services/search/distributed/groups"
    method: POST
    user: "{{ splunk.admin_user }}"
    password: "{{ splunk.password }}"
    force_basic_auth: yes
    body: "member={{ item.name }}&default=false&name=dmc_indexerclustergroup_{{ item.cluster_label }}"
    validate_certs: false
    status_code: 201,409
    use_proxy: no
  loop: "{{ cluster_label_list_of_dicts }}"
  register: cluster_label
  when: cluster_label_list_of_dicts is defined and item.cluster_label | length > 0

- name: Edit Cluster Label POST Requests
  uri:
    url: "{{ cert_prefix }}://127.0.0.1:{{ splunk.svc_port }}/services/search/distributed/groups"
    method: POST
    user: "{{ splunk.admin_user }}"
    password: "{{ splunk.password }}"
    force_basic_auth: yes
    body: "member={{ item.name }}&default=false&name=dmc_indexerclustergroup_{{ item.cluster_label }}/edit"
    validate_certs: false
    status_code: 201,409
    use_proxy: no
  loop: "{{ cluster_label_list_of_dicts }}"
  when: cluster_label_list_of_dicts is defined and item.cluster_label | length > 0 and cluster_label.results[0].status == 409